/* Body styles */
body {
    font-family: "Times New Roman", serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Main container styles */
main {
    background-color: #fff;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* List styles */
ul {
    list-style-type: square;
    margin-left: 20px;
}

/* Link styles */
a {
    text-decoration: none;
    color: #3498db;
}

a:hover {
    text-decoration: underline;
}

/* Home button styles */
.home-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff5733;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.home-button:hover {
    background-color: #3498db;
    transform: scale(1.05);
}

/* Text box styles */
textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid #3498db;
    border-radius: 5px;
    resize: none;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.button-container{
    text-align: center;
}
